<!DOCTYPE html>
<html>
  <head>
    <title>Order list page</title>
  </head>
  <body>
    <td>Order list</td>
    <table border="1">
        <tr>
          <td>ID</td><td>Product</td><td>Descript</td><td>Price</td><td>Quantity</td>
        </tr>
      <% for (var i in product_list) { %>
        <tr>
          <td><%= product_list[i].id%></td>
          <td><%= product_list[i].name%></td>
          <td><%= product_list[i].remark%></td>
          <td><%= product_list[i].price%></td>
          <td><%= product_list[i].quantity%></td>
        </tr>
      <% } %>
    </table>
    <br/>
    <td>Total price : 100</td>
    <br/>
    <br/>
    <a href="/product">See all products</a> 
    <br/>
    <br/>
    <a href="/member/logout">Logout</a> 
  </body>
</html>

